<header>
  <div class="container">
    <h1>SpaceX Launch Programs</h1>
  </div>
</header>

<main>

  <div class="container">

    <aside class="sidebar">
      <h4>Filters</h4>
      <h6>Launch Year</h6>
      <ul>
        <li *ngFor="let year of launch_years">
          <label (click)="filters.year = year; onFiltersUpdate();">
            <input type="radio" name="year" [value]="year" [checked]="year == filters.year" />
            <span>{{year}}</span>
          </label>
        </li>
      </ul>
      <h6>Successful Launch</h6>
      <ul>
        <li>
          <label (click)="filters.launch = true; onFiltersUpdate();">
            <input type="radio" name="launch" value="true" [checked]="filters.launch === true" />
            <span>True</span>
          </label>
        </li>
        <li>
          <label (click)="filters.launch = false; onFiltersUpdate();">
            <input type="radio" name="launch" value="false" [checked]="!filters.launch === false" />
            <span>False</span>
          </label>
        </li>
      </ul>
      <h6 *ngIf="filters.launch || filters.launch == null">Successful Landing</h6>
      <ul *ngIf="filters.launch || filters.launch == null">
        <li>
          <label (click)="filters.landing = true; onFiltersUpdate();">
            <input type="radio" name="landing" value="true" [checked]="filters.landing === true" />
            <span>True</span>
          </label>
        </li>
        <li>
          <label (click)="filters.landing = false; onFiltersUpdate();">
            <input type="radio" name="landing" value="false" [checked]="!filters.landing === false" />
            <span>False</span>
          </label>
        </li>
      </ul>
    </aside>

    <section class="sitedata">
      <div *ngIf="!spacex_programs.length">
        <h4>No Program Data Available</h4>
      </div>
      <div class="row" *ngIf="spacex_programs.length">
        <div class="col" *ngFor="let program of spacex_programs; let index = index">
          <div class="card">
            <figure>
              <img [src]="program.links.mission_patch_small" [alt]="program.mission_name">
            </figure>
            <h6>{{program.mission_name}}</h6>
            <div>
              <strong>Mission IDs: </strong>
              <span>{{program.mission_id}}</span>
            </div>
            <div>
              <strong>Launch Year: </strong>
              <span>{{program.launch_year}}</span>
            </div>
            <div>
              <strong>Successful Launch: </strong>
              <span>{{program.launch_success}}</span>
            </div>
            <div>
              <strong>Successful Landing: </strong>
              <span>{{program.rocket.first_stage.cores.land_success}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>

<footer>
  <div class="container">
    <strong>Developed by:</strong> <span>Deepak Jain</span>
  </div>
</footer>
