@import "../variables";
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header {
    order: 1;
    padding: @indent_base_m 0;
    h1 {
        color: #2b3246;
        font-size: @fontsize_h1;
        line-height: 1;
    }
}
main {
    order: 2;
    position: relative;
    .container {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }
    aside.sidebar {
        background: #fff;
        height: auto;
        position: sticky;
        top: @indent_base_m;
        width: 25%;
        & > h4 {
            background: #2b3246;
            color: #fff;
            font-size: @fontsize_base;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1;
            padding: @indent_base_m;
            text-align: center;
            text-transform: uppercase;
        }
        & > h6 {
            border-bottom: solid 1px #314a8f;
            color: #2b3246;
            font-size: @fontsize_h6;
            font-weight: 400;
            line-height: 1.2;
            margin: @indent_base @indent_base @indent_base_m @indent_base;
            padding: 0 0 @indent_base_s 0;
            text-align: center;
        }
        & > ul {
            color: #2b3246;
            display: flex;
            flex-wrap: wrap;
            font-size: @fontsize_s;
            justify-content: space-between;
            line-height: 1;
            list-style: none;
            margin: 0 @indent_base @indent_base_m @indent_base;
            & > li {
                margin: 0 0 @indent_base_m 0;
                width: calc(~"50% - 5px");
                label {
                    display: block;
                    position: relative;
                    transition: all ease-in-out 200ms;
                    & > span {
                        background: #9fffa2;
                        border-radius: 5px;
                        color: #2b3246;
                        cursor: pointer;
                        display: block;
                        font-size: @fontsize_s;
                        line-height: 1;
                        padding: @indent_base_s @indent_base_m;
                        text-align: center;
                        transition: all ease-in-out 200ms;
                    }
                    & > input {
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        &:checked {
                            & + span {
                                background: #54cc5a;
                            }
                        }
                    }
                }
            }
        }
    }
    section.sitedata {
        padding-left: @indent_base;
        width: 75%;
    }
}
footer {
    align-items: flex-end;
    background: #f9f9f9;
    color: #777;
    font-size: @fontsize_s;
    line-height: 1;
    order: 3;
    padding: @indent_base_m 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -@indent_base_m;
    & > .col {
        padding: 0 @indent_base_m @indent_base_m * 2 @indent_base_m;
        width: 25%;
        .card {
            background: #fff;
            border: 0;
            box-shadow: 0px 0px 2px 0px rgba(43, 50, 70, 0.5);
            color: #314a8f;
            display: block;
            font-size: @fontsize_s;
            padding: @indent_base_m;
            transition: all ease-in-out 200ms;
            width: 100%;
            &:hover {
                box-shadow: 0px 0px 2px 0px rgba(43, 50, 70, 0.5),  1px 1px 4px 2px rgba(43, 50, 70, 0.35);
            }
            figure {
                background: #efefef;
                display: block;
                margin: 0 0 @indent_base_m 0;
                padding: @indent_base_m;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            h6 {
                color: #314a8f;
                font-size: @fontsize_base;
                line-height: 1.4;
                margin-bottom: @indent_base_m;
            }
            div {
                margin-bottom: @indent_base_s;
                strong {
                    color: #2b3246;
                }
            }
        }
    }
}

@media screen {
    /* MEDIA QUERY - MOBILE */
    @media (max-width: @width_mobile_max) {
        main {
            .container {
                flex-wrap: wrap;
            }
            aside.sidebar {
                margin-bottom: @indent_base;
                position: static;
                width: 100%;
            }
            section.sitedata {
                padding: 0;
                width: 100%;
            }
        }
        .row {
            & > .col {
                width: 100%;
            }
        }
    }
    /* MEDIA QUERY - TABLET */
    @media (min-width: @width_tablet_min) and (max-width: @width_tablet_max) {
        .row {
            & > .col {
                width: 50%;
            }
        }
    }
    /* MEDIA QUERY - DESKTOP */
    @media (min-width: @width_desktop_min) and (max-width: @width_desktop_max) {
        .row {
            & > .col {
                width: 25%;
            }
        }
    }
}
