/* You can add global styles to this file, and also import other style files */
@import "variables";
html, body {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}
body {
    background: #efefef;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: @fontsize_base;
    line-height: 1.5;
}
div, section, aside, nav, header, footer, article, h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    display: block;
    margin: 0;
    outline: none;
    padding: 0;
}
img, video, audio, iframe {
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 @indent_base;
    width: 100%;
}

@media screen {
    /* MEDIA QUERY - MOBILE */
    @media (max-width: @width_mobile_max) {
        .container {
            max-width: @width_mobile_max;
        }
    }
    /* MEDIA QUERY - TABLET */
    @media (min-width: @width_tablet_min) and (max-width: @width_tablet_max) {
        .container {
            max-width: @width_tablet_max;
        }
    }
    /* MEDIA QUERY - DESKTOP */
    @media (min-width: @width_desktop_min) and (max-width: @width_desktop_max) {
        .container {
            max-width: @width_desktop_max;
        }
    }
}
