@width_max: 1440px;
@width_desktop_min: 1025px;
@width_desktop_max: 1440px;
@width_tablet_min: 701px;
@width_tablet_max: 1024px;
@width_mobile_min: 0px;
@width_mobile_max: 700px;

@indent_base: 20px;
@indent_base_s: 5px;
@indent_base_m: 10px;
@indent_base_l: 30px;

@fontsize_s: 14px;
@fontsize_base: 16px;
@fontsize_h1: 30px;
@fontsize_h2: 27px;
@fontsize_h3: 24px;
@fontsize_h4: 21px;
@fontsize_h5: 20px;
@fontsize_h6: 18px;
